.fixed-card {
  cursor: pointer;
  width: 400px; 
  height: 400px; 
  display: flex;
  flex-direction: column;
  border: none; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.fixed-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.fixed-card .card-img-top {
  object-fit: cover; 
  height: 200px; 
}

.card-body {
  background-color: #f9f9f9; 
  padding: 15px; 
  border-top: 1px solid #ddd;
}

.card-title {
  font-size: 1.25rem; 
  font-weight: bold;
}

.card-text {
  color: #333; 
  font-size: 0.875rem; 
}

.card-text ul {
  padding-left: 20px; 
}