.navbar {
  padding: 0.5rem 1rem!important;
}

.navbar-brand {
  font-weight: bold;
}

.navbar .ml-auto {
  margin-left: auto;
}

.card-body {
  padding: 1.5rem!important;
}

.card-title {
  font-size: 1.5rem!important;
  color: #333!important;
}

